.link {
    font-weight: 500;
    font-size: 16px;

    margin: 0.5rem 0;
    cursor: pointer;
    position: relative;
    text-decoration: none;

    transition: color 0.2s linear;
    color: var(--color-text);
}

.link:hover {
    color: var(--color-link-text-active);
}