:root{
    --color-light-gray: #f8f8f8;
    --color-gray: #f1f1f1;
    --color-dark-gray: #747475;
    --color-very-dark-gray: #27262E;
    --color-white: #ffffff;
    --color-blue: #0047FF;
    --color-text: #7A797D;
    --color-button-bg: var(--color-white);
    --color-button-text: var(--color-blue);
    --color-button-hov: var(--color-blue);
    --color-button-text-hov: var(--color-white);
    --color-link-text: var(--color-text);
    --color-link-text-active: var(--color-blue);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page{
    min-height: 100vh;
}

/*.main-wrapper{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    margin-left: 215px;*/
/*    width: 800px;*/
/*}*/

/*.container {*/
/*    padding: 1rem 5rem;*/
/*    margin: 0 auto;*/
/*}*/