:root{
    --color-light-gray: #f8f8f8;
    --color-gray: #f1f1f1;
    --color-dark-gray: #747475;
    --color-white: #ffffff;
    --color-blue: #0047FF;
    --color-text: #7A797D;
    --color-active-text: var(--color-blue);
    --color-button-bg: var(--color-white);
    --color-button-text: var(--color-blue);
    --color-button-hov: var(--color-blue);
    --color-button-text-hov: var(--color-white)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app{
    background-color: var(--color-light-gray);
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.main-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 215px;
    width: 800px;
}

.container {
    padding: 1rem 5rem;
    margin: 0 auto;
}