.hide_text {

}

.game_card {
    width: 250px;
    height: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10%;
    background-color: var(--color-white);
}

.game_img {
    height: 200px;
    width: 100%;
    border-radius: 9%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.game_img img {
    width: 100%;
}

.game_title {
    margin-bottom: 10px;
}

.game_description {

}

/* Skeleton */
.game_card.skeleton {
}

.game_card.skeleton .game_img {
    background: #e2e2e2;
}

.game_card.skeleton .game_img img {
    display: none;
}

.game_card.skeleton .hide_text {
    background: #e2e2e2;
    border-radius: 5px;
    color: transparent;
    position: relative;
    overflow: hidden;
}

.game_card.skeleton .hide_text.game_img {
    border-radius: 9%;
}

.game_card.skeleton .hide_text::before {
    content: "";
    position: absolute;
    left: 0%;
    top: 0;
    height: 100%;
    width: 50px;
    background: linear-gradient(to right, #e2e2e2 25%, #d5d5d5 50%, #e2e2e2 100%);
    animation-name: gradient-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    filter: blur(5px);
}

@keyframes gradient-animation {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}
