.search{
    border-radius: 9%/50%;
    background: var(--color-white);
    margin: 0.5rem 0;
    width: 300px;
    padding: 1rem;
    display: flex;
}

.icon{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
}
